html, body, #root {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: #232F3E;
}
*::-webkit-scrollbar-thumb {
  background: #E47911;
  border-radius: 999px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #FEBD69;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #E47911 #232F3E;
}

